<h2>Introduction</h2>
<p>I'm a Senior Software Engineer with over 10 years of javascript experience. I've built bespoke web applications and orchestrated MV/AB tests for some of the biggest brand names in the software, retail and fashion sectors.</p>
<p>I'm currently a Senior Software Engineer at Veritas. I have strong Javascript skills and have experience in using Angular, D3, NodeJS, Backbone and Polymer.</p>
<p>Aside from my daily development duties, I am a keen presenter and have a strong interest in creating innovative ideas. I've created several ecommerce mini apps and presented these to fellow developers, project managers etc. I also spent a month in Pune, India delivering training sessions in client/server side technologies.</p>
<p>I have also made open source contributions to the YQL and customelements.io projects.</p>
<p>My current skills include:</p>
<ul>
  <li>Typescript, Angular, D3, Backbone and Polymer</li>
  <li>Node and Express</li>
  <li>Protractor, Jasmine and Chai</li>
</ul>
<p>You can view examples of my code at <a href="http://github.com/alexroutledge">http://github.com/alexroutledge</a>.</p>